@import "tailwindcss";

body{
  /* background-color: gray; */
  background-color:aqua;
  background-size: cover; /* Cover the entire screen */
  background-position: center center; /* Center the image */
  background-attachment: fixed; /* Keep the background fixed when scrolling */
  color: white; 
}

